@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    --boton: #4CAF50;
    --botonesHover: #388E3C;
    --background: rgb(193, 196, 195);
    --backgroundContainer: #ececec;
    --war: #ff4444;
    --warHover: #cc0000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}



